
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Administrator/Views/Shared/_adminLayout.cshtml";
}

<!-- /.row -->

<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        
        <!-- /.panel -->
        
        <!-- /.panel -->
        
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-8 -->
    
    <!-- /.col-lg-4 -->
</div>
